<% content_for :title, "Nuevo Cliente" %>

<div class="container mt-4">
  <h1 class="mb-4">Nuevo Cliente</h1>

  <%= render "form", cliente: @cliente %>

  <div class="mt-3">
    <%= link_to "Volver a Clientes", clientes_path, class: 'btn btn-secondary' %>
  </div>
</div>
