<% content_for :title, "Nueva Película" %>

<div class="container mt-4">
  <h1 class="mb-4">Nueva Película</h1>

  <%= render "form", pelicula: @pelicula %>

  <div class="mt-3">
    <%= link_to "Volver a Películas", peliculas_path, class: 'btn btn-secondary' %>
  </div>
</div>
