<% content_for :title, "Editing arriendo" %>

<h1>Editing arriendo</h1>

<%= render "form", arriendo: @arriendo %>

<br>

<div>
  <%= link_to "Show this arriendo", @arriendo %> |
  <%= link_to "Back to arriendos", arriendos_path %>
</div>
